html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Serif:wght@400;700&display=swap");

$dark: #3c486b;
$middle: #f45050;
$light: #f9d949;
$lightest: #f0f0f0;

$brand-font: "Courgette", cursive;
$page-font: "Noto Serif", serif;

body {
  background-image: linear-gradient(
    to right top,
    #3c486b 20%,
    #f45050 80%,
    #f9d949
  );
  height: 100%;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  header {
    text-align: center;

    h1 {
      display: inline-block;
      text-align: center;
      margin-top: 5vh;
      padding-top: -20px;
      font-family: $brand-font;
      font-size: 60px;
      color: $lightest;
      cursor: pointer;
    }
  }
  main {
    height: 85vh;
    margin-top: 40px;

    section {
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;

        .create {
          background-color: $lightest;
          border-radius: 20px;
          padding: 40px;
          width: 50%;

          .title {
            text-align: center;
            span {
              font-family: $page-font;
              font-size: 25px;
              font-weight: bold;
              color: $dark;
            }
          }
          form {
            text-align: center;
            .column {
              flex-direction: column;
              display: flex;
              float: left;
              width: 50%;
              label {
                font-family: $page-font;
                font-size: 20px;
                color: $dark;
                text-align: center;
                padding: 10px;
                margin-top: 25px;
              }
              input {
                border: 2px solid $dark;
                border-radius: 30px;
                background-color: $lightest;
                font-family: $page-font;
                font-size: 16px;
                text-align: center;
                padding: 10px;
                margin-right: 50px;
                margin-left: 50px;
              }
              #idpic::-webkit-file-upload-button {
                background-color: $dark;
                color: $lightest;
                font-family: $page-font;
                margin: -9px;
                margin-left: -8px;
                margin-right: 5px;
                padding: 4px;
                padding-top: 6px;
                padding-bottom: 6px;
                border-radius: 20px;
              }
            }
            .button {
              clear: both;

              button {
                text-align: center;
                margin-top: 50px;
                border: none;
                background-color: $middle;
                border-radius: 35px;
                color: $lightest;
                font-family: $page-font;
                font-size: 20px;
                font-weight: bold;
                padding: 15px;
                transition: all 0.4s;
                cursor: pointer;
                &:hover {
                  background-color: $light;
                  transition: all 0.4s;
                }
              }
            }
          }
          .password {
            text-align: center;
            margin-top: 30px;
            span {
              font-family: $page-font;
              font-size: smaller;
              font-weight: bolder;
              a {
                color: $middle;
                text-decoration: none;
                transition: all 0.4s;

                &:hover {
                  background-color: $light;
                  transition: all 0.4s;
                }
              }
            }
          }
          .login {
            text-align: center;
            margin-top: 30px;
            span {
              font-family: $page-font;
              font-size: smaller;
              font-weight: bolder;
              color: $dark;

              a {
                color: $middle;
                text-decoration: none;
                transition: all 0.4s;

                &:hover {
                  background-color: $light;
                  transition: all 0.4s;
                }
              }
            }
          }
        }
      }
    }
  }
}
