@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Serif:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-image: linear-gradient(to right top, #3c486b 20%, #f45050 80%, #f9d949);
  height: 100%;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
body header {
  text-align: center;
}
body header h1 {
  text-align: center;
  display: inline-block;
  margin-top: 9vh;
  font-family: "Courgette", cursive;
  font-size: 60px;
  color: #f0f0f0;
  cursor: pointer;
}
body main {
  height: 85vh;
}
body main section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
body main section .container .login {
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 40px;
}
body main section .container .login .title {
  text-align: center;
}
body main section .container .login .title span {
  font-family: "Noto Serif", serif;
  font-size: 25px;
  font-weight: bold;
  color: #3c486b;
}
body main section .container .login form {
  display: flex;
  flex-direction: column;
}
body main section .container .login form label {
  font-family: "Noto Serif", serif;
  font-size: 20px;
  color: #3c486b;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}
body main section .container .login form input {
  border: 2px solid #3c486b;
  border-radius: 30px;
  background-color: #f0f0f0;
  font-family: "Noto Serif", serif;
  font-size: 16px;
  padding: 10px;
}
body main section .container .login form button {
  margin-top: 50px;
  border: none;
  background-color: #f45050;
  border-radius: 35px;
  color: #f0f0f0;
  font-family: "Noto Serif", serif;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  transition: all 0.4s;
  cursor: pointer;
}
body main section .container .login form button:hover {
  background-color: #f9d949;
  transition: all 0.4s;
}
body main section .container .login .password {
  text-align: center;
  margin-top: 30px;
}
body main section .container .login .password span {
  font-family: "Noto Serif", serif;
  font-size: smaller;
  font-weight: bolder;
}
body main section .container .login .password span a {
  color: #f45050;
  text-decoration: none;
  transition: all 0.4s;
}
body main section .container .login .password span a:hover {
  background-color: #f9d949;
  transition: all 0.4s;
}
body main section .container .login .create {
  text-align: center;
  margin-top: 30px;
}
body main section .container .login .create span {
  font-family: "Noto Serif", serif;
  font-size: smaller;
  font-weight: bolder;
  color: #3c486b;
}
body main section .container .login .create span a {
  color: #f45050;
  text-decoration: none;
  transition: all 0.4s;
}
body main section .container .login .create span a:hover {
  background-color: #f9d949;
  transition: all 0.4s;
}/*# sourceMappingURL=login-style.css.map */